<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="style.css">
	<center><title>FORMULARIO DE REGISTRO</title></center> 
</head>
<body>

	<div>
	<section class="formulario">
	<div>
		<h1>REGISTRO</h1>
	</div>
	<form>
		<input class="datos" type="text"  name ="nombre" placeholder =" Names">

		<input class="datos" type="text"  name ="apellido" placeholder ="Last names">

		<input class="datos" type="date" name="fecha">

		<!-- <input class = "datos" type="radio" name="sexo">masculino<br> <input class="datos" type="radio" name="sexo">femenino <br> -->

		<input class="datos" type="email"  name= "correo" placeholder ="email">

		<input class="datos" type="password"  name= "contraseña" placeholder ="password">

		<input class="button" type="submit" name="Submit">
	</form>
	
	</section>
   </div>	



</body>
</html>